@import '../../theme/palette';

.briefing {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $mainWithOpacity;

  .wheel {
    position: absolute;
    top: -125px;
    left: 405px;
    width: 800px;
  }

  .badge {
    position: absolute;
    top: 58px;
    left: 67px;
    width: 200px;
  }

  h2, span {
    position: absolute;
    font-family: AngryBirds, sans-serif;
    color: $darkYellow;
    transform: rotate(-2deg);
  }

  h2 {
    top: 39px;
    left: 90px;
    font-size: 35px;
    text-shadow: -3px 3px 0 $textShadow;
  }

  .captain {
    top: 440px;
    right: 75px;
    font-size: 45px;
    text-shadow: -3px 3px 0 $textShadow;
  }

  .help-appear {
    opacity: 0.01;
  }

  .help-appear.help-appear-active {
    opacity: 1;
    transition: opacity 1200ms ease-in;
  }

  .help-exit {
    opacity: 1;
  }

  .help-exit.help-exit-active {
    opacity: 0.01;
    transition: opacity 1200ms ease-in;
  }

  .tip {
    position: absolute;
    bottom: 30px;
    left: 180px;
    width: 680px;
    padding: 5px 0;
    background-color: black;
    font-family: Courier, sans-serif;
    color: $white;
    text-align: center;
    transform: none;
  }

  .textWrapper {
    position: absolute;
    top: 90px;
    left: 33px;
    width: 505px;
    height: 310px;
    background-color: $lightYellow;
    padding: 30px;
    box-shadow: -7px 7px 0 $textShadow;

    p {
      font-family: Courier, sans-serif;
      font-size: 29px;
    }
  }

  .rogers {
    position: absolute;
    width: 240px;
    top: 110px;
    right: 92px;
  }

  button {
    position: absolute;
    bottom: 70px;
    left: 385px;
    width: 180px;
    height: 80px;
    border: none;
    background-color: $darkYellow;
    font-family: AngryBirds, sans-serif;
    font-size: 35px;
    color: #000;
    box-shadow: -4px 4px 0 $textShadow;

    &:hover {
      background-color: $lightYellow;
      cursor:pointer;
    }
  }
}
