@import '../../theme/palette';

.gamefield {

  .prota {
    position: absolute;
    left: 140px;
    width: 60px;

    object:nth-of-type(2) {
      position: absolute;
      left: -11px;
      top: 60px;
      width: 30px;
    }
  }

  .anto {
    position: absolute;
    right: 140px;
    width: 60px;

    object:nth-of-type(2) {
      position: absolute;
      right: -6px;
      top: 51px;
      width: 30px;
    }
  }

  .treeone {
    position: absolute;
    top: 335px;
    left: 37px;
    width: 130px;
  }

  .treetwo {
    position: absolute;
    top: 365px;
    right: 37px;
    width: 160px;
  }

  .timer {
    position: absolute;
    top: 5px;
    left: 20px;
    width: 100px;
  }

  .homeBtn {
    position: absolute;
    top: 30px;
    right: 40px;
    width: 130px;
    height: 50px;
    border: none;
    background-color: $darkYellow;
    font-family: AngryBirds, sans-serif;
    font-size: 23px;
    color: $black;

    &:hover {
      background-color: $lightYellow;
      cursor:pointer;
    }
  }
}
