@import '../../theme/palette';

.gamefield {

  .prota {
    position: absolute;
    left: 140px;
    width: 60px;

    object:nth-of-type(2) {
      position: absolute;
      left: -11px;
      top: 60px;
      width: 30px;
    }

  }

  .black {
    position:absolute;
    top:330px;
    left:775px;
    width:44px;
    height:62px;
    background:rgba(0,0,0,.5);
  }

  .anto {
    position: absolute;
    top: 430px;
    left: 760px;
    width: 60px;

    object:nth-of-type(2) {
      position: absolute;
      right: -6px;
      top: 51px;
      width: 30px;
    }

  }

  .treeone {
    position: absolute;
    top: 335px;
    left: 37px;
    width: 130px;
  }

  .treetwo {
    position: absolute;
    top: 365px;
    right: 37px;
    width: 160px;
  }

  .timer {
    position: absolute;
    top: 5px;
    left: 20px;
    width: 100px;

    span {
      position: absolute;
      top: 35px;
      left: 30px;
      width: 41px;
      font-family: AngryBirds, sans-serif;
      font-size: 30px;
      color: $white;
      text-align: center;
    }
  }

  .playerBullet {
    position: absolute;
    left: 190px;
    width: 10px;
  }

  .aiBullet {
    position: absolute;
    left: 760px;
    width: 10px;
  }

  .homeBtn {
    position: absolute;
    top: 30px;
    right: 40px;
    width: 130px;
    height: 50px;
    border: none;
    background-color: $darkYellow;
    font-family: AngryBirds, sans-serif;
    font-size: 23px;
    color: $black;

    &:hover {
      background-color: $lightYellow;
      cursor:pointer;
    }
  }
}
