$black: #000;
$white: #FFF;
$main: rgb(54, 122, 135);
$mainWithOpacity: rgba(54, 122, 135, .8);
$mainLight: #2B889E;
$mainDark: #0C6175;
$mainShadow: #2F5070;
$textShadow: #252F39;
$darkYellow: #FFFF00;
$lightYellow: #FFF5C2;
$grey: rgb(221, 220, 222);